<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <code>
      request.remote_ip: <%= request.remote_ip %>
      request.ip: <%= request.ip %>
    </code>

    <br/>
    <hr/>
    <br/>

    <%= yield %>
  </body>
</html>
